body{
  background-image:url('777.jpg');
      background-position: center;
      background-size: cover;
    background-repeat: repeat-y;}
  .box {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      flex-basis: 60px;
      margin: 30px;
      border-top: solid 5px #000;
      border-bottom: solid 5px #000;
      width: 1200px;
  }
  .nav {
    position: relative;
    left:50px;
    top:0px;
  }

.nav a{
  text-decoration: none;color: aqua;
}
.nav a:hover{
  display: block;color: blue;background: blueviolet;
}
.logo{
  color: #000;
  font-size: 30px;
  top: 70px;
  margin: 5px;
  padding: 5px;
}
.type2 {
    position: relative;
    left:20px;
    top:10px;
}
.type1{
  position: relative;
  left: 20px;
  top:5px;
}
.div3 {
  position: relative;
  left: 10px;
  top:100px;
}
span{
  color:rgb(139, 0, 116);
}
p{
  style="font-size: 20px;
  width: 100px;
  margin: 15px;
  padding: 5px;
}